* {
  margin: 0;
  padding: 0;
  font-family: Alata;
}

body {
	background: #d0e1f9;
}

/*MAIN*/
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
/*MAIN*/

/*ХЕДЕР*/
.header {
  background: #283655;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.header_title {
  margin: 0;
  font-size: 48px;
  color: #fff;
  letter-spacing: 60px;
  padding-left: 60px;
}

/*ХЕДЕР*/


/*ПЕРВАЯ СТРОКА, СТОИТ НА МЕСТЕ ВТОРОЙ*/
.row1 {
  border: 1px solid red;
  margin: 15px auto 15px auto;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media (max-width: 1250px) {
	.row1 {
		width: 900px;
		height: 200px;
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media (max-width: 950px) {
	.row1 {
		width: 700px;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width: 750px) {
	.row1 {
		width: 450px;
		height: 700px;
		margin-top: 0;
		margin-bottom: 0;
		flex-wrap: wrap;
		justify-content: center;
		display: none;
		

	}
}

.row1 .block1 {
  background: #4d648d;
  width: 380px;
  height: 200px;
  margin-right: 15px;
  border-radius: 30px;
}

@media (max-width: 1250px) {
	.row1 .block1 {
		width: 300px;
		height: 170px;
	}
}
@media (max-width: 950px) {
	.row1 .block1 {
		width: 250px;
	}
}
@media (max-width: 750px) {
	.row1 .block1 {
		margin: 15px;
		width: 400px;
		height: 170px;
	}
}


.row1 .block2 {
  background: #4d648d;
  width: 380px;
  height: 200px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 30px;
}

@media (max-width: 1250px) {
	.row1 .block2 {
		width: 300px;
		height: 170px;
	}
}
@media (max-width: 950px) {
	.row1 .block2 {
		width: 250px;
	}
}

@media (max-width: 750px) {
	.row1 .block2 {
		margin: 15px;
		width: 400px;
		height: 170px;
	}
}

.row1 .block3 {
  background: #4d648d;
  width: 380px;
  height: 200px;
  margin-left: 15px;
  border-radius: 30px;
}

@media (max-width: 1250px) {
	.row1 .block3 {
		width: 300px;
		height: 170px;
	}
}
@media (max-width: 950px) {
	.row1 .block3 {
		width: 250px;
	}
}
@media (max-width: 750px) {
	.row1 .block3 {
		margin: 15px;
		width: 400px;
		height: 170px;
	}
}

/*ПЕРВАЯ СТРОКА, СТОИТ НА МЕСТЕ ВТОРОЙ конец*/

/*ВТОРАЯ СТРОКА, СТОИТ НА МЕСТЕ ПЕРВОЙ*/
.row2 {
  border: 1px solid red;
  height: 170px;
  margin: 15px auto 15px auto;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media (max-width: 1250px) {
	.row2 {
		width: 900px;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width: 950px) {
	.row2 {
		width: 700px;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width: 750px) {
	.row2 {
		width: 450px;
		height: 700px;
		margin-top: 0;
		margin-bottom: 0;
		flex-wrap: wrap;
		justify-content: center;
		

	}
}

.row2 .block1 {
  background: #4d648d;
  width: 470px;
  height: 170px;
  margin-right: 15px;
  border-radius: 30px;
}

@media (max-width: 1250px) {
	.row2 .block1 {
		width: 370px;
		height: 140px;
	}
}
@media (max-width: 950px) {
	.row2 .block1 {
		width: 300px;
		height: 140px;
	}
}

@media (max-width: 750px) {
	.row2 .block1 {
		margin: 15px;
		width: 400px;
		height: 200px;
	}
}

.row2 .circle {
  background: #4d648d;
  width: 200px;
  height: 200px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  align-self: center;
}


#avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  align-self: center;
  object-fit: cover;
}

@media (max-width: 1250px) {
	.row2 .circle {
		width: 130px;
		height: 130px;
	}
	#avatar {
		width: 130px;
		height: 130px;
	}
}
@media (max-width: 950px) {
	.row2 .circle {
		width: 100px;
		height: 100px;
	}
	#avatar {
		width: 100px;
		height: 100px;
	}
}
@media (max-width: 750px) {
	.row2 .circle {
		width: 200px;
		height: 200px;
		margin: 15px;
		order: -1;
	}
	#avatar {
		width: 200px;
		height: 200px;
	}
}

.row2 .block3 {
  background: #4d648d;
  width: 470px;
  height: 170px;
  margin-left: 15px;
  border-radius: 30px;
}

@media (max-width: 1250px) {
	.row2 .block3 {
		width: 370px;
		height: 140px;
	}
}
@media (max-width: 950px) {
	.row2 .block3 {
		width: 300px;
		height: 140px;
	}
}
@media (max-width: 750px) {
	.row2 .block3 {
		margin: 15px;
		width: 400px;
		height: 200px;
	}
}
/*ВТОРАЯ СТРОКА, СТОИТ НА МЕСТЕ ПЕРВОЙ конец*/

/*ТРЕТЬЯ СТРОКА*/
.row3 {
  border: 1px solid red;
  height: 334px;
  margin: 15px auto 15px auto;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media (max-width: 1250px) {
	.row3 {
		width: 900px;
		height: 300px;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width: 950px) {
	.row3 {
		width: 700px;
		height: 260px;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width: 750px) {
	.row3 {
		width: 450px;
		height: 600px;
		margin-top: 0;
		margin-bottom: 0;
		flex-wrap: wrap;
		justify-content: center;
		
	}
}

.row3 .skills {
  background: #4d648d;
  width: 380px;
  height: 334px;
  margin-right: 15px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  
}


@media (max-width: 1250px) {
	.row3 .skills {
		width: 300px;
		height: 270px;
	}
}
@media (max-width: 950px) {
	.row3 .skills {
		width: 300px;
		height: 230px;
	}
	.skills_title {
		font-size: 18px;
	}
}
@media (max-width: 750px) {
	.row3 .skills {
		margin: 15px;
		width: 400px;
		height: 200px;
	}
	.skills_title {
		font-size: 26px;
	}
}

.row3 .block2 {
  background: #4d648d;
  width: 380px;
  height: 200px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 30px;
}

@media (max-width: 1250px) {
	.row3 .block2 {
		width: 300px;
		height: 170px;
	}
}
@media (max-width: 750px) {
	.row3 .block2 {
		width: 300px;
		height: 170px;
		display: none;
	}
}

.row3 .about_self {
  background: #4d648d;
  width: 380px;
  height: 334px;
  margin-left: 15px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  border-radius: 30px;
}

 .about_self_description {
  text-align: justify;
  font-size: 16px;

}

@media (max-width: 1250px) {
	.row3 .about_self {
		width: 300px;
		height: 270px;
	}
	.about_self_description {
		font-size: 13px;
	}
}
@media (max-width: 950px) {
	.row3 .about_self {
		width: 300px;
		height: 230px;
	}
	.about_self_description {
		font-size: 10px;
	}
	.about_self_title {
		font-size: 18px;
	}
}
@media (max-width: 750px) {
	.row3 .about_self {
		margin: 15px;
		width: 400px;
		height: 300px;
		order: -1;
	}
	.about_self_description {
		font-size: 16px;
	}
	.about_self_title {
		font-size: 26px;
	}
}
/*ТРЕТЬЯ СТРОКА конец*/



/*ПОДВАЛ*/
.footer {
  background: #283655;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 15px;

  
}

/*див с ссылками на соц сети*/
.footer_soc {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

/*иконки соцсетей*/
.img_link {
  width: 35px;
  height: 35px;
}

.footer_copy {
	color: #fff;
}
/*ПОДВАЛ*/





